$primary: rgb(187, 92, 89);
$primary-content: rgb(243, 239, 239);
$secondary: #c83737;
$secondary-content: rgb(243, 239, 239);
$accent: rgb(255, 173, 85);
$accent-content: rgb(42, 43, 45);
$neutral: rgb(61, 59, 58);
$neutral-darker: scale-color($neutral, $lightness: -25%);
$neutral-light: scale-color($neutral, $lightness: 25%);
$neutral-light-50: scale-color($neutral, $lightness: 50%);
$neutral-content: rgb(243, 239, 239);
$error: rgb(212, 91, 91);

$sidebar-width: 320px;